USE [master]
GO
/****** Object:  Database [mydb]    Script Date: 08/06/2018 02:03:09 ******/
CREATE DATABASE [mydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mydb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\mydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mydb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\mydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mydb]
GO
USE [mydb]
GO
/****** Object:  Table [dbo].[DimPoder]    Script Date: 08/06/2018 02:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPoder](
	[idPoder] [int] NOT NULL,
	[NomePoder] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPoder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTempo]    Script Date: 08/06/2018 02:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTempo](
	[idTempo] [int] NOT NULL,
	[Ano] [varchar](4) NULL,
	[Mes] [varchar](2) NULL,
	[Dia] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUnidadeOrcamentaria]    Script Date: 08/06/2018 02:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUnidadeOrcamentaria](
	[idUniOrc] [int] NOT NULL,
	[GrpAdminUniOrc] [varchar](100) NULL,
	[NomeUniOrc] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUniOrc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FatoReceita]    Script Date: 08/06/2018 02:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FatoReceita](
	[VlrArrecadado] [float] NULL,
	[VlrDspSrvAtivo] [float] NULL,
	[VlrDspSrvInativo] [float] NULL,
	[VlrDspPensionista] [float] NULL,
	[VlrDspContratado] [float] NULL,
	[VlrDespesasTotal] [float] NULL,
	[idTempo] [int] NOT NULL,
	[idPoder] [int] NOT NULL,
	[idUniOrc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTempo] ASC,
	[idPoder] ASC,
	[idUniOrc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FatoTrabalhoDW]    Script Date: 08/06/2018 02:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FatoTrabalhoDW](
	[idTempo] [varchar](50) NULL,
	[Ano] [varchar](50) NULL,
	[Mes] [varchar](50) NULL,
	[Dia] [varchar](50) NULL,
	[idPoder] [varchar](50) NULL,
	[NomePoder] [varchar](50) NULL,
	[idUniOrc] [varchar](50) NULL,
	[GrpAdminUniOrc] [varchar](50) NULL,
	[NomeUniOrc] [varchar](50) NULL,
	[VlrDspSrvAtivo] [varchar](50) NULL,
	[VlrDspSrvInativo] [varchar](50) NULL,
	[VlrDspPensionista] [varchar](50) NULL,
	[VlrDspContratado] [varchar](50) NULL,
	[VlrTotalGasto] [varchar](50) NULL,
	[VlrArrecadado] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Ano_UNIQUE]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [Ano_UNIQUE] ON [dbo].[DimTempo]
(
	[Ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Dia_UNIQUE]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [Dia_UNIQUE] ON [dbo].[DimTempo]
(
	[Dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Mes_UNIQUE]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [Mes_UNIQUE] ON [dbo].[DimTempo]
(
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FatoReceita_DimPoder1_idx]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [fk_FatoReceita_DimPoder1_idx] ON [dbo].[FatoReceita]
(
	[idPoder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FatoReceita_DimTempo1_idx]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [fk_FatoReceita_DimTempo1_idx] ON [dbo].[FatoReceita]
(
	[idTempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FatoReceita_DimUnidadeOrcamentaria1_idx]    Script Date: 08/06/2018 02:03:12 ******/
CREATE NONCLUSTERED INDEX [fk_FatoReceita_DimUnidadeOrcamentaria1_idx] ON [dbo].[FatoReceita]
(
	[idUniOrc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FatoReceita]  WITH CHECK ADD  CONSTRAINT [fk_FatoReceita_DimPoder1] FOREIGN KEY([idPoder])
REFERENCES [dbo].[DimPoder] ([idPoder])
GO
ALTER TABLE [dbo].[FatoReceita] CHECK CONSTRAINT [fk_FatoReceita_DimPoder1]
GO
ALTER TABLE [dbo].[FatoReceita]  WITH CHECK ADD  CONSTRAINT [fk_FatoReceita_DimTempo1] FOREIGN KEY([idTempo])
REFERENCES [dbo].[DimTempo] ([idTempo])
GO
ALTER TABLE [dbo].[FatoReceita] CHECK CONSTRAINT [fk_FatoReceita_DimTempo1]
GO
ALTER TABLE [dbo].[FatoReceita]  WITH CHECK ADD  CONSTRAINT [fk_FatoReceita_DimUnidadeOrcamentaria1] FOREIGN KEY([idUniOrc])
REFERENCES [dbo].[DimUnidadeOrcamentaria] ([idUniOrc])
GO
ALTER TABLE [dbo].[FatoReceita] CHECK CONSTRAINT [fk_FatoReceita_DimUnidadeOrcamentaria1]
GO
USE [master]
GO
